.header-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #333;

    span{
        font-weight: bold;
        color:darkgrey;
    }

    p{
        margin: 20px;
    }
}

